$font_xs: 0.75rem;
$font_sm: 0.875rem;
$font_base: 1rem;
$font_lg: 1.125rem;
$font_xl:1.25rem;
$font_2xl: 1.5rem;
$font_3xl: 1.875rem;
$font_4xl: 2.25rem;
$font_5xl: 3rem;
$font_6xl: 3.75rem;
$font_7xl: 4.5rem;
$font_8xl: 6rem;
$font_9xl: 8rem;