#page_container{
    background-color: wheat;
    padding-left: clamp(10%, 2em, 100%);
    padding-right: clamp(10%, 2em, 100%);

    header{
        background-color: lime;
        
        
    }

    .service_summary{
        background-color: yellow;
        

        .service_summary_container{
            
            

    
                

            .service_summary_container_left{
                    

                    
            }
    
            .service_summary_container_right{
                    
                height: 200px;
                width: 200px;

                img{
                    max-width: 100%;
                    max-height: 100%;
                }
                    
            }
            
        }
    }

    .feature{
        background-color: rgb(55, 139, 218);
        display: block;
        
    }

    .feedback{
        background-color: rgb(247, 0, 255);
        display: block;
        
    }

    .price{
        background-color: rgb(255, 0, 0);
        
    }

    footer{
        background-color: rgb(0, 255, 229);
    }
}
