@media (max-width: 769px) {
  :root {
    font-size: 1.4vh;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 1.2vh;
  }
}

#page_container {
  background-color: #d7f5f5;
  font-family: "Inter", sans-serif;
}

#page_container header {
  background: #fbf8f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0.125rem 0.5rem 3rem 0.5rem #fbf8f3;
          box-shadow: 0.125rem 0.5rem 3rem 0.5rem #fbf8f3;
}

#page_container header .check {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
}

#page_container header .check .header_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbf8f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: 4rem;
}

@media (max-width: 769px) {
  #page_container header .check .header_container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#page_container header .check .header_container .header_container_main_page {
  text-decoration: none;
  color: #1986ca;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 600px) {
  #page_container header .check .header_container .header_container_main_page {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#page_container header .check .header_container .header_navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.625rem;
          column-gap: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page_container header .check .header_container .header_navbar .header_navbar_option {
  display: inline-block;
  color: #737373;
  text-decoration: none;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

@media (max-width: 600px) {
  #page_container header .check .header_container .header_navbar .header_navbar_option {
    display: none;
  }
}

#page_container header .check .header_container .header_navbar .header_navbar_button {
  border: #1da1f2 solid 0.06rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1da1f2;
  border-radius: 0.25rem;
  -webkit-column-gap: 0.75rem;
          column-gap: 0.75rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 8rem;
}

@media (max-width: 769px) {
  #page_container header .check .header_container .header_navbar .header_navbar_button {
    margin-right: 4rem;
  }
}

@media (max-width: 600px) {
  #page_container header .check .header_container .header_navbar .header_navbar_button {
    display: none;
  }
}

#page_container header .check .header_container .header_navbar .header_navbar_button:hover {
  background-color: #1d96e1;
  border: #1d96e1 solid 0.06rem;
}

#page_container header .check .header_container .header_navbar .header_navbar_button .header_navbar_button_text {
  color: white;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#page_container header .check .header_container .header_navbar .header_navbar_burger {
  display: none;
}

@media (max-width: 600px) {
  #page_container header .check .header_container .header_navbar .header_navbar_burger {
    display: block;
    margin-right: 4rem;
    width: 2rem;
  }
}

#page_container .service_summary {
  background-color: #fbf8f3;
  display: block;
  padding-top: 8rem;
}

#page_container .service_summary .service_summary_container {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
  -webkit-column-gap: 0.6rem;
          column-gap: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 769px) {
  #page_container .service_summary .service_summary_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#page_container .service_summary .service_summary_container .service_summary_container_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  width: 65%;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 769px) {
  #page_container .service_summary .service_summary_container .service_summary_container_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 93%;
  }
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_headline {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_info {
  color: #737373;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 1rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_button_more_info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2.25rem;
  row-gap: 1.25rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_button_more_info .service_summary_container_left_social_button {
  border: #1da1f2 solid 0.06rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1da1f2;
  border-radius: 0.25rem;
  -webkit-column-gap: 0.75rem;
          column-gap: 0.75rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_button_more_info .service_summary_container_left_social_button img {
  height: 2rem;
  width: 2rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_button_more_info .service_summary_container_left_social_button:hover {
  background-color: #1d96e1;
  border: #1d96e1 solid 0.06rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_button_more_info .service_summary_container_left_social_button .service_summary_container_left_social_button_text {
  color: white;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_button_more_info .service_summary_container_left_more_information {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.5rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_button_more_info .service_summary_container_left_more_information .service_summary_container_left_more_information_option {
  text-decoration: none;
  color: #1986ca;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_button_more_info .service_summary_container_left_more_information .service_summary_container_left_more_information_option .service_summary_container_left_more_information_option_text {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_avatars {
  display: inline-block;
  margin-bottom: 0.75rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_avatars img {
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 3rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_avatars img:not(:first-child) {
  margin-left: -1.6rem;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_avatars img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_lower_paragraph {
  display: block;
  margin-bottom: 1rem;
  color: #737373;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#page_container .service_summary .service_summary_container .service_summary_container_left .service_summary_container_left_lower_paragraph .service_summary_container_left_lower_paragraph_bigger_blue {
  color: #1986ca;
  font-weight: bold;
}

#page_container .service_summary .service_summary_container .service_summary_container_right {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 45rem;
  padding-bottom: 2rem;
  margin-right: 4rem;
}

@media (max-width: 769px) {
  #page_container .service_summary .service_summary_container .service_summary_container_right {
    width: 93%;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

#page_container .service_summary .service_summary_container .service_summary_container_right .service_summary_container_right_desktop_image {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  min-width: 20rem;
  display: block;
}

@media (max-width: 769px) {
  #page_container .service_summary .service_summary_container .service_summary_container_right .service_summary_container_right_desktop_image {
    display: none;
  }
}

@media (max-width: 600px) {
  #page_container .service_summary .service_summary_container .service_summary_container_right .service_summary_container_right_desktop_image {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    min-width: 20rem;
    display: block;
    max-width: 95%;
  }
}

#page_container .service_summary .service_summary_container .service_summary_container_right .service_summary_container_right_tablet_image {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  min-width: 20rem;
}

@media (max-width: 769px) {
  #page_container .service_summary .service_summary_container .service_summary_container_right .service_summary_container_right_tablet_image {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 101%;
    min-width: 25rem;
  }
}

@media (max-width: 600px) {
  #page_container .service_summary .service_summary_container .service_summary_container_right .service_summary_container_right_tablet_image {
    display: none;
  }
}

#page_container .feature {
  background-color: white;
  padding: 5.25rem 0 5rem;
  display: block;
}

#page_container .feature .feature_container {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
}

#page_container .feature .feature_container .feature_container_headline {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 50%;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 769px) {
  #page_container .feature .feature_container .feature_container_headline {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 600px) {
  #page_container .feature .feature_container .feature_container_headline {
    width: 90%;
  }
}

#page_container .feature .feature_container .feature_container_box {
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  row-gap: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 769px) {
  #page_container .feature .feature_container .feature_container_box {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#page_container .feature .feature_container .feature_container_box .feature_container_box_item {
  border: 0.06rem solid #c5c5c5;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.5rem 1.5rem 1.25rem;
  width: 30%;
  min-width: 15rem;
}

@media (max-width: 769px) {
  #page_container .feature .feature_container .feature_container_box .feature_container_box_item {
    min-width: 25rem;
  }
}

@media (max-width: 600px) {
  #page_container .feature .feature_container .feature_container_box .feature_container_box_item {
    min-width: 20rem;
  }
}

#page_container .feature .feature_container .feature_container_box .feature_container_box_item .feature_container_box_item_icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#page_container .feature .feature_container .feature_container_box .feature_container_box_item .feature_container_box_headline {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1rem;
}

#page_container .feature .feature_container .feature_container_box .feature_container_box_item .feature_container_box_text {
  color: #828282;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#page_container .feedback {
  background-color: #d7f5f5;
  background: #d7f5f5;
  padding: 4rem 0 5rem;
}

#page_container .feedback .feedback_container {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
}

#page_container .feedback .feedback_container .feedback_container_headline {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 50%;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 769px) {
  #page_container .feedback .feedback_container .feedback_container_headline {
    width: 75%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#page_container .feedback .feedback_container .feedback_container_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-column-gap: 2.8rem;
          column-gap: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 67rem;
  overflow-y: scroll;
  width: 100%;
}

#page_container .feedback .feedback_container .feedback_container_box::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  #page_container .feedback .feedback_container .feedback_container_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 75rem;
  }
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item {
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 20.5rem;
  min-width: 17.5rem;
  padding: 2rem;
}

@media (max-width: 769px) {
  #page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item {
    max-width: 25rem;
    min-width: 25rem;
  }
}

@media (max-width: 1215px) and (min-width: 600px) {
  #page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item:last-child {
    margin-right: 4rem;
  }
}

@media (max-width: 769px) and (min-width: 600px) {
  #page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item:last-child {
    margin-right: 2rem;
  }
}

@media (max-width: 1215px) and (min-width: 600px) {
  #page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item:first-child {
    margin-left: 4rem;
  }
}

@media (max-width: 769px) and (min-width: 600px) {
  #page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item:first-child {
    margin-left: 2rem;
  }
}

@media (max-width: 600px) {
  #page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item {
    min-width: 15rem;
    max-width: 75rem;
    margin: 0 2rem 2rem 2rem;
  }
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.75rem;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_header .feedback_container_box_item_header_box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_header .feedback_container_box_item_header_box img {
  max-height: 3.9rem;
  margin-right: 0.75rem;
  width: 3.9rem;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_header .feedback_container_box_item_header_box .feedback_container_box_item_header_box_data {
  display: initial;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_header .feedback_container_box_item_header_box .feedback_container_box_item_header_box_data .feedback_container_box_item_header_box_data_name {
  color: black;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_header .feedback_container_box_item_header_box .feedback_container_box_item_header_box_data .feedback_container_box_item_header_box_data_mail {
  color: #828282;
  font-style: normal;
  font-weight: 400;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_info {
  margin-bottom: 2rem;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_info .feedback_container_box_item_info_text {
  color: #828282;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_footer .feedback_container_box_item_footer_like i {
  color: red;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_footer .feedback_container_box_item_footer_like_value {
  color: #828282;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_footer .feedback_container_box_item_footer_date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page_container .feedback .feedback_container .feedback_container_box .feedback_container_box_item .feedback_container_box_item_footer .feedback_container_box_item_footer_date .feedback_container_box_item_footer_date_text {
  color: black;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#page_container .price {
  background-color: white;
  padding: 5rem 0;
  display: block;
}

#page_container .price .price_container {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page_container .price .price_container .price_container_headline {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1rem;
  max-width: 32rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 769px) {
  #page_container .price .price_container .price_container_headline {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#page_container .price .price_container .price_container_subline {
  text-align: center;
  width: 100%;
  color: #828282;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  max-width: 32rem;
}

#page_container .price .price_container .price_container_box {
  background: #fbf8f3;
  border: 0.06rem solid #ffad23;
  border-radius: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.9rem;
  max-width: 32rem;
  padding: 3rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  #page_container .price .price_container .price_container_box {
    max-width: 90%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#page_container .price .price_container .price_container_box .price_container_header {
  border-bottom: 0.06rem solid #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 1.5rem;
}

#page_container .price .price_container .price_container_box .price_container_header .price_container_header_headline {
  color: #828282;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  width: 100%;
}

#page_container .price .price_container .price_container_box .price_container_header .price_container_header_price {
  color: black;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

#page_container .price .price_container .price_container_box .price_container_header .price_container_header_price .price_container_header_period {
  color: #828282;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-left: -0.6em;
}

#page_container .price .price_container .price_container_box .price_container_info {
  border-bottom: 0.06rem solid #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  padding: 1.25rem 0 4rem 0;
  row-gap: 1rem;
}

#page_container .price .price_container .price_container_box .price_container_info .price_container_info_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page_container .price .price_container .price_container_box .price_container_info .price_container_info_line img {
  margin: 0.125rem 1rem 0 0;
}

#page_container .price .price_container .price_container_box .price_container_info .price_container_info_line .price_container_info_line_text {
  color: #828282;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#page_container .price .price_container .price_container_box .price_container_footer {
  display: block;
  text-align: center;
}

#page_container .price .price_container .price_container_box .price_container_footer .price_container_footer_button {
  border: #1da1f2 solid 0.06rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1da1f2;
  border-radius: 0.25rem;
  -webkit-column-gap: 0.75rem;
          column-gap: 0.75rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page_container .price .price_container .price_container_box .price_container_footer .price_container_footer_button img {
  height: 2rem;
  width: 2rem;
}

#page_container .price .price_container .price_container_box .price_container_footer .price_container_footer_button:hover {
  background-color: #1d96e1;
  border: #1d96e1 solid 0.06rem;
}

#page_container .price .price_container .price_container_box .price_container_footer .price_container_footer_button .price_container_footer_button_text {
  color: white;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#page_container footer {
  background-color: #d7f5f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 5rem;
}

#page_container footer .footer_container {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page_container footer .footer_container .footer_container_main_page {
  text-decoration: none;
  color: #1986ca;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  margin-left: 4rem;
}

@media (max-width: 769px) {
  #page_container footer .footer_container .footer_container_main_page {
    margin-left: 2rem;
  }
}

#page_container footer .footer_container .footer_navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.75rem;
          column-gap: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4rem;
}

@media (max-width: 769px) {
  #page_container footer .footer_container .footer_navbar {
    margin-right: 2rem;
  }
}

#page_container footer .footer_container .footer_navbar .footer_navbar_option {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#page_container footer .footer_container .footer_navbar .footer_navbar_option img {
  height: 2rem;
  margin-right: 0.75rem;
  width: 2rem;
}
/*# sourceMappingURL=style.css.map */