@import "abstracts/index";

:root {
  @media (max-width: $tablet) {
    font-size: 1.4vh;
  }
  @media (max-width: $mobile) {
    font-size: 1.2vh;
  }
}

#page_container {
  background-color: $background_blue;
  font-family: "Inter", sans-serif;

  header {
    background: $background_beige;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    position: fixed;
    width: 100%;
    box-shadow: 0.125rem 0.5rem 3rem 0.5rem #fbf8f3;

    .check {
      margin: 0 auto;
      max-width: 75rem;
      width: 100%;

      .header_container {
        align-items: center;
        background: #fbf8f3;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 4rem;

        @media (max-width: $tablet) {
          margin-left: 2rem;
          margin-right: 2rem;
        }

        .header_container_main_page {
          text-decoration: none;
          color: $text_blue;
          font-size: $font_xl;
          font-style: italic;
          font-weight: bold;

          @media (max-width: $mobile) {
            margin-top: 2rem;
            margin-bottom: 2rem;
          }
        }

        .header_navbar {
          align-items: center;
          column-gap: 1.625rem;
          display: flex;

          .header_navbar_option {
            display: inline-block;
            color: #737373;
            text-decoration: none;
            font-size: $font_lg;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;

            @media (max-width: $mobile) {
              display: none;
            }

          }

          .header_navbar_button {
            border: $button_color solid 0.06rem;
            align-items: center;
            background: $button_color;
            border-radius: 0.25rem;
            column-gap: 0.75rem;
            cursor: pointer;
            display: flex;
            padding: 1rem 1.5rem;
            transition: all 0.5s ease;
            margin-right: 8rem;

            

            @media (max-width: $tablet) {
              margin-right: 4rem;
            }

            @media (max-width: $mobile) {
              display: none;
            }

            &:hover {
              background-color: $button_hover_color;
              border: $button_hover_color solid 0.06rem;
            }

            .header_navbar_button_text {
              color: white;
              font-size: $font_lg;
              font-style: normal;
              font-weight: 700;
              line-height: 120%;
            }
          }

          .header_navbar_burger{
            display: none;

            @media (max-width: $mobile) {
              display: block;
              margin-right: 4rem;
              width: 2rem;
              
            }
          }
        }
      }
    }
  }

  .service_summary {
    background-color: $background_beige;
    display: block;
    padding-top: 8rem;

    .service_summary_container {
      margin: 0 auto;
      max-width: 75rem;
      width: 100%;
      column-gap: 0.6rem;
      display: flex;
      justify-content: space-between;

      @media (max-width: $tablet) {
        flex-direction: column-reverse;
      }

      .service_summary_container_left {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        width: 65%;
        margin-left: 4rem;
        margin-right: 4rem;

        @media (max-width: $tablet) {
          flex-direction: column;
          margin-left: 2rem;
          margin-right: 2rem;
          width: 93%;
        }

        .service_summary_container_left_headline {
          font-size: $font_6xl;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          margin-bottom: 1rem;
        }

        .service_summary_container_left_info {
          color: #737373;
          font-size: $font_base;
          font-style: normal;
          font-weight: 400;
          line-height: 170%;
          margin-bottom: 1rem;
        }

        .service_summary_container_left_button_more_info {
          align-items: center;
          column-gap: 1.25rem;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 2.25rem;
          row-gap: 1.25rem;

          .service_summary_container_left_social_button {
            border: $button_color solid 0.06rem;
            align-items: center;
            background: $button_color;
            border-radius: 0.25rem;
            column-gap: 0.75rem;
            cursor: pointer;
            display: flex;
            padding: 1rem 1.5rem;
            transition: all 0.5s ease;

            img {
              height: 2rem;
              width: 2rem;
            }

            &:hover {
              background-color: $button_hover_color;
              border: $button_hover_color solid 0.06rem;
            }

            .service_summary_container_left_social_button_text {
              color: white;
              font-size: $font_lg;
              font-style: normal;
              font-weight: 700;
              line-height: 120%;
            }
          }

          .service_summary_container_left_more_information {
            align-items: center;
            display: flex;
            height: 3.5rem;

            .service_summary_container_left_more_information_option {
              text-decoration: none;
              color: $text_blue;

              .service_summary_container_left_more_information_option_text {
                font-size: $font_lg;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
              }
            }
          }
        }

        .service_summary_container_left_avatars {
          display: inline-block;
          margin-bottom: 0.75rem;

          img {
            border-radius: 50%;
            transition: all 0.3s ease;
            width: 3rem;


            
            &:not(:first-child) {
              margin-left: -1.6rem;
            }
            &:hover {
              transform: scale(1.2);
            }
          }
        }

        .service_summary_container_left_lower_paragraph {
          display: block;
          margin-bottom: 1rem;
          color: #737373;
          font-size: $font_lg;
          font-style: normal;
          font-weight: 400;
          line-height: 170%;

          .service_summary_container_left_lower_paragraph_bigger_blue {
            color: $text_blue;
            font-weight: bold;
          }
        }
      }

      .service_summary_container_right {
        height: fit-content;
        width: 45rem;
        padding-bottom: 2rem;
        margin-right: 4rem;

        @media (max-width: $tablet) {
          width: 93%;
          margin-right: 2rem;
          margin-left: 2rem;
        }

        .service_summary_container_right_desktop_image {
          height: fit-content;
          width: 100%;
          min-width: 20rem;
          display: block;

          @media (max-width: $tablet) {
            display: none;
          }

          @media (max-width: $mobile) {
            height: fit-content;
            width: 100%;
            min-width: 20rem;
            display: block;
            max-width: 95%;
          }
        }

        .service_summary_container_right_tablet_image {
          display: none;
          height: fit-content;
          width: 100%;
          min-width: 20rem;

          @media (max-width: $tablet) {
            display: block;
            height: fit-content;
            width: 101%;
            min-width: 25rem;
          }

          @media (max-width: $mobile) {
            display: none;
          }
        }
      }
    }
  }

  .feature {
    background-color: white;
    padding: 5.25rem 0 5rem;
    display: block;

    .feature_container {
      margin: 0 auto;
      max-width: 75rem;
      width: 100%;

      .feature_container_headline {
        font-size: $font_4xl;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        width: 50%;
        margin-bottom: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        
        @media (max-width: $tablet) {
          margin-left: 2rem;
          margin-right: 2rem;
        }
        @media (max-width: $mobile) {
          width: 90%;
        }
      }

      .feature_container_box {
        column-gap: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        row-gap: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        @media (max-width: $tablet) {
          margin-left: 2rem;
          margin-right: 2rem;
        }

        .feature_container_box_item {
          border: 0.06rem solid #c5c5c5;
          border-radius: 0.4rem;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          padding: 1.5rem 1.5rem 1.25rem;
          width: 30%;
          min-width: 15rem;
          @media (max-width: $tablet) {
            min-width: 25rem;
          }
          @media (max-width: $mobile) {
            min-width: 20rem;
          }

          .feature_container_box_item_icon {
            font-size: 2.5rem;
            margin-bottom: 1rem;
          }

          .feature_container_box_headline {
            font-size: $font_lg;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 1rem;
          }

          .feature_container_box_text {
            color: $color_grey;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
          }
        }
      }
    }
  }

  .feedback {
    background-color: $background_blue;
    background: #d7f5f5;
    padding: 4rem 0 5rem;

    .feedback_container {
      margin: 0 auto;
      max-width: 75rem;
      width: 100%;

      .feedback_container_headline {
        font-size: $font_4xl;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        width: 50%;
        margin-bottom: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        @media (max-width: $tablet) {
          width: 75%;
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }

      .feedback_container_box {
        box-sizing: border-box;
        column-gap: 2.8rem;
        display: flex;
        margin: 0 auto;
        max-width: 67rem;
        overflow-y: scroll;
        width: 100%;

        &::-webkit-scrollbar {
          display: none;
        }

        @media (max-width: $mobile){
          flex-direction: column;
          max-width: 75rem;
          
          
        }

        .feedback_container_box_item {
          background: #fff;
          box-sizing: border-box;
          border-radius: 0.4rem;
          display: flex;
          flex-direction: column;
          order: 3;
          height: fit-content;
          max-width: 20.5rem;
          min-width: 17.5rem;
          padding: 2rem;

          @media (max-width: $tablet) {
            max-width: 25rem;
            min-width: 25rem;
          }

          &:last-child {
            @media (max-width: 1215px) and (min-width: $mobile){
              margin-right: 4rem;
            }
            @media (max-width:$tablet) and (min-width: $mobile){
      
              margin-right: 2rem;
            }
          }

          &:first-child {
            @media (max-width: 1215px) and (min-width: $mobile){
              margin-left: 4rem;
            }
            @media (max-width:$tablet) and (min-width: $mobile){
              margin-left: 2rem;
              
            }
          }

          @media (max-width: $mobile){
            min-width: 15rem;
            max-width: 75rem;
            margin: 0 2rem 2rem 2rem;
            
          }

          .feedback_container_box_item_header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.75rem;

            .feedback_container_box_item_header_box {
              align-items: center;
              display: flex;

              img {
                max-height: 3.9rem;
                margin-right: 0.75rem;
                width: 3.9rem;
              }

              .feedback_container_box_item_header_box_data {
                display: initial;

                .feedback_container_box_item_header_box_data_name {
                  color: black;
                  font-size: $font_lg;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 120%;
                }

                .feedback_container_box_item_header_box_data_mail {
                  color: $color_grey;
                  font-style: normal;
                  font-weight: 400;
                }
              }
            }
          }

          .feedback_container_box_item_info {
            margin-bottom: 2rem;

            .feedback_container_box_item_info_text {
              color: $color_grey;
              font-size: $font_lg;
              font-style: normal;
              font-weight: 400;
              line-height: 170%;
            }
          }

          .feedback_container_box_item_footer {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .feedback_container_box_item_footer_like i {
              color: red;
            }

            .feedback_container_box_item_footer_like_value {
              color: $color_grey;
              font-size: $font_lg;
              font-style: normal;
              font-weight: 400;
              line-height: 170%;
            }

            .feedback_container_box_item_footer_date {
              align-items: center;
              display: flex;

              .feedback_container_box_item_footer_date_text {
                color: black;
                font-size: $font_lg;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
              }
            }
          }
        }
      }
    }
  }

  .price {
    background-color: white;
    padding: 5rem 0;
    display: block;

    .price_container {
      margin: 0 auto;
      max-width: 75rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .price_container_headline {
        font-size: $font_4xl;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 1rem;
        max-width: 32rem;
        margin-left: 4rem;
        margin-right: 4rem;
        @media (max-width: $tablet) {
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }

      .price_container_subline {
        text-align: center;
        width: 100%;
        color: $color_grey;
        font-size: $font_lg;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        max-width: 32rem;
      }

      .price_container_box {
        background: #fbf8f3;
        border: 0.06rem solid #ffad23;
        border-radius: 0.6rem;
        display: flex;
        flex-direction: column;
        margin-top: 3.9rem;
        max-width: 32rem;
        padding: 3rem;
        width: 100%;
        box-sizing: border-box;

        @media (max-width:$mobile) {
          max-width: 90%;
          margin-left: 2rem;
          margin-right: 2rem;
        }

        .price_container_header {
          border-bottom: 0.06rem solid $color_grey;
          display: flex;
          flex-direction: column;
          padding: 0 0 1.5rem;

          .price_container_header_headline {
            color: $color_grey;
            font-size: $font_2xl;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            width: 100%;
          }

          .price_container_header_price {
            color: black;
            font-size: $font_6xl;
            font-style: normal;
            font-weight: 900;
            line-height: 120%;

            .price_container_header_period {
              color: $color_grey;
              font-size: $font_3xl;
              font-style: normal;
              font-weight: 300;
              line-height: 120%;
              margin-left: -0.6em;
            }
          }
        }

        .price_container_info {
          border-bottom: 0.06rem solid $color_grey;
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          padding: 1.25rem 0 4rem 0;
          row-gap: 1rem;

          .price_container_info_line {
            display: flex;

            img {
              margin: 0.125rem 1rem 0 0;
            }
            .price_container_info_line_text {
              color: $color_grey;
              font-size: $font_lg;
              font-style: normal;
              font-weight: 400;
              line-height: 170%;
            }
          }
        }
        

        .price_container_footer {
          display: block;
          text-align: center;

          .price_container_footer_button {
            
            border: $button_color solid 0.06rem;
            align-items: center;
            background: $button_color;
            border-radius: 0.25rem;
            column-gap: 0.75rem;
            cursor: pointer;
            display: flex;
            padding: 1rem 1.5rem;
            transition: all 0.5s ease;
            width: 100%;
            justify-content: center;
            

            img {
              height: 2rem;
              width: 2rem;
            }

            &:hover {
              background-color: $button_hover_color;
              border: $button_hover_color solid 0.06rem;
            }

            .price_container_footer_button_text {
              color: white;
              font-size: $font_lg;
              font-style: normal;
              font-weight: 700;
              line-height: 120%;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $background_blue;
    align-items: center;
    display: flex;
    min-height: 5rem;

    .footer_container {
      margin: 0 auto;
      max-width: 75rem;
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: space-between;

      .footer_container_main_page {
        text-decoration: none;
        color: $text_blue;
        font-size: $font_xl;
        font-style: italic;
        font-weight: bold;
        margin-left: 4rem;
        @media (max-width: $tablet) {
          margin-left: 2rem;
        }
      }

      .footer_navbar {
        align-items: center;
        column-gap: 1.75rem;
        display: flex;
        margin-right: 4rem;
        @media (max-width: $tablet) {
          margin-right: 2rem;
        }

        .footer_navbar_option {
          display: inline-block;
          color: black;
          text-decoration: none;
          font-size: $font_lg;
          font-style: normal;
          font-weight: 400;
          line-height: 170%;

          img {
                height: 2rem;
                margin-right: 0.75rem;
                width: 2rem;
              }
        }
      }
    }
  }
}
